.container {
  /* height: 75vh; */
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
  gap: 2vw;
}

.btn {
  height: 35px;
  width: 100px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #2953a6;
  color: #2953a6;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

input {
  height: 30px;
  border: 1px solid #2953a6;
  border-radius: 5px;
  outline: none;
  text-indent: 10px;
}

input::placeholder{
  color: #2953a6;
  opacity: .7;
}

label{
  color: #2953a6;
}

.btn:hover {
  background-color: #2953a6;
  color: white;
}
